@layout('layouts/main')

@section('content')
<div class="card border-primary mb-3" style="max-width: 20rem; margin: auto;">
  <h3 class="card-header text-center">Welcome to MAC Radio!</h3>
  <div class="card-body">
    <a class="btn btn-primary btn-block" href="{{ route('AuthController.login') }}">Login</a>
  </div>
</div>
@endsection
